/** Default Css **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  background-color: rgb(235, 179, 154);
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

.navbar-nav .navbar {
  text-align: center;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

nav.navbar .navbar-toggler-icon {
  width: 48px;
  height: 48px;
  background-image: url(./assets/img/dropdown-icon.png);
  position: relative;
  top: -2px;
}

nav.navbar.scrolled {
  padding: 0px 0;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  color: black;
  opacity: 0.8;
  font-weight:600;
  letter-spacing: 0.85px;
  padding: 0 20px;
  font-size: 18px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
    text-decoration: underline;
    opacity: 1;
}

span.navbar-text {
    display:inline-flex;
    justify-content: center;
}

.social-icon {
    display: inline-flex;
    float: right;
}

.social-icon a {
    padding: 5px;
    background-color: white;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
}

.social-icon a::before {
    content: "";
    border-radius: 50%;
	  transition: 0.3s ease-in-out;
    opacity: 0.85;
}

.social-icon a:hover::before {
    transform: scale(1);
    opacity: 0.85;
}

.social-icon a img {
  max-width: 40px;
  max-height: 40px;
}

.social-icon a:hover {
  opacity: 1;
}


/************ Banner Css ************/
.banner {
  background-image: url('./assets/img/banner-bg.png');
  width: 100%;
  height: auto;
  margin: auto;
  background-size: cover;
  position: relative;
  background-color: white;
  font-weight: 400;
  overflow-x: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0) !important;
}

.banner h1 {
  font-size: 56px;
  letter-spacing: 0.9px;
}

.txt-rotate {
  font-size: 42px;
  color: rgb(0, 29, 18);
  padding: 2px;
}

.banner p {
  color: black;
  font-weight:510;
  font-size: 22px;
  letter-spacing: 0.8px;
  line-height: 2em;
  background-color: rgba(243, 166, 143, 0.90);
  padding: 8px 10px;
  margin-top: 2%;
}

.banner button {
  margin-bottom: 5%;
  color: rgb(26, 70, 0);
  background-color: rgb(142, 185, 131);
  border: 4px solid rgb(26, 70, 0);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.banner button a {
  color:white;
  font-weight: 700;
}

.banner button a:hover {
color:rgb(26, 70, 0);
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}


.headerImg img {
  animation: updown 4s linear infinite;
  margin-top: 15%;
  margin-bottom: 2%;
  flex: 0 1 auto;
  max-width: 250px;
  max-height: 250px;
  border: 8px solid rgb(235, 179, 154);
  border-radius: 10%;
}

/************ Skills Css ************/
.skill {
  margin-top: 5%;
  color: black;
  position: relative;
  text-align: center;
}
.skill-bx {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  background-color: rgba(243, 166, 143, 0.80);
  padding: 8px 10px;
  margin-bottom: 5%;
}
.skill h2 {
	font-size: 32px;
  font-weight:300;
  margin-bottom: 3%;
}
.skill img {
  max-width: 75px;
  max-height: 75px;
}
.skill h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
.skill .item {
  background-color: white;
  padding: 25px;
  margin: 0 5% 0 5%;
  min-height: 225px;
  border-radius: 4%;
  border: solid 4px black;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.tech h2{
  margin-top: 5%;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/************ Projects Css ************/
.project {
  color: black;
  position: relative;
  text-align: center;
}
.project img {
max-width: 250px;
max-height: 200px;
}

.project {
  position: relative;
  text-align: center;
}
.project-bx {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  background-color: rgba(243, 166, 143, 0.80);
  padding: 8px 10px;
  margin-bottom: 5%;
}
.project h2 {
	font-size: 32px;
  font-weight:300;
}

.project p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 2%;
}

.project h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin-top: 10%;
}

.project .item {
  background-color: white;
  min-height: 350px;
  margin: 5% 5% 0 0;
  padding: 25px;
  border-radius: 4%;
  border-radius: 4%;
  border: solid 4px black;
}
/* .project {
  padding: 80px 0;
  position: relative;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #000000;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgb(0, 0, 0);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: white;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
} */


@media screen and (max-width: 992px) {
  nav.navbar, body {
    flex-wrap: column wrap; 
  }
}

@media screen and (max-width: 768px) {
  nav.navbar, body {
      flex-wrap: column wrap;
  }
}

@media screen and (max-width: 576px) {
  nav.navbar, body {
      flex-wrap: column wrap; 
  }
}