/** Default Css **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

p {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  background-color: rgb(235, 179, 154);
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

.navbar-nav .navbar {
  text-align: center;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

nav.navbar .navbar-toggler-icon {
  width: 48px;
  height: 48px;
  background-image: url(./assets/img/dropdown-icon.png);
  position: relative;
  top: -2px;
}

nav.navbar.scrolled {
  padding: 0px 0;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  color: black;
  opacity: 0.70;
  font-weight:600;
  letter-spacing: 0.85px;
  padding: 0 20px;
  font-size: 20px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

span.navbar-text {
    display:inline-flex;
    justify-content: center;
}


/************ Banner Css ************/
.banner {
  background-image: url('./assets/img/banner-bg.png');
  width: 100%;
  height: auto;
  margin: auto;
  background-size: cover;
  position: relative;
  background-color: rgb(245, 241, 241);
  font-weight: 400;
  overflow-x: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0) !important;
}

.banner h1 {
  font-size: 56px;
  letter-spacing: 0.9px;
}

.txt-rotate {
  font-size: 42px;
  color: rgb(0, 29, 18);
  padding: 2px;
}

.banner p {
  color: black;
  font-weight:510;
  font-size: 22px;
  letter-spacing: 0.8px;
  line-height: 2em;
  background-color: rgba(243, 166, 143, 0.90);
  border-radius: 40px;
  padding: 8px 10px;
  margin-top: 2%;
}

.banner button {
  color: white;
  margin-bottom: 2%;
  background-color: rgb(99, 155, 118);
  border: 4px solid rgb(0, 70, 47);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.banner button a {
  color:white;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.banner button a:hover {
color:rgb(0, 70, 41);
margin-right: 20px;
}

.banner button a img:hover {
  color: white;
}

.headerImg img {
  animation: updown 4s linear infinite;
  margin-top: 15%;
  margin-bottom: 2%;
  flex: 0 1 auto;
  max-width: 250px;
  max-height: 250px;
  border: 8px solid rgba(243, 166, 143);
  border-radius: 10%;
}

/************ Skills Css ************/
.skill {
  color: black;
  position: relative;
  text-align: center;
}
.skill-bx {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  background-color: rgba(243, 166, 143);
  padding: 8px 10px;
  margin-bottom: 5%;
}
.skill h2 {
	font-size: 32px;
  font-weight:350;
  margin-bottom: 3%;
}
.skill img {
  max-width: 75px;
  max-height: 75px;
}
.skill h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.8px;
}
.skill .item {
  background-color: rgb(245, 241, 241);
  padding: 25px;
  margin: 0 5% 0 5%;
  min-height: 230px;
  border-radius: 4%;
  border: solid 4px black;
  margin-bottom: 5%;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.tech h2 {
  margin-top: 4%;
}

.tech .item img {
  margin-top: 10%;
}

/************ Projects Css ************/
.project {
  color: black;
  text-align: center;
}
.project img {
width: 226px;
height: 175px;
}

.project-bx {
  border-radius: 64px;
  text-align: center;
  background-color: rgba(243, 166, 143);
  padding: 30px 10px;
  margin-bottom: 5%;
}
.project h2 {
	font-size: 32px;
  font-weight:350;
}

.project p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin: 2% 25%;
}

.project h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 6%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.project h6 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 8%;
}

.project a {
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}
.project .item {
  display: flex;
  flex-flow: column;
  height: 300px;
  margin: 2%;
  background-color: rgb(245, 241, 241);
  border-radius: 4%;
  border-radius: 4%;
  border: solid 4px black;
}

/* Contact form Css */
.contact {
  background: linear-gradient(90.21deg, rgb(0, 70, 47) -15.91%, rgb(142, 185, 131) 125.58%);
  padding: 18px 20px;
  margin: 0 10% 3% 10%;
  border-radius: 20px;
}

.contact h2 {
	font-size: 38px;
  color: white;
	font-weight: 400;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.342);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 12px 18px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 10px 28px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 6px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: rgb(0, 56, 37);
  border-radius: 6px;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/* Social links Css */
footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 166, 143);
  border-radius: 64px;
  border-radius: 5px;
  letter-spacing: 0.8px;
  text-align: left;
  margin-top: 5%;
}

.socials h4 {
  font-weight: 400;
  font-size: 26px;
  margin-top: 3%;
  font-weight: 500;
}

.socials p {
font-size: 20px;
font-weight: 400;
}
.socials .icons {
  font-weight: 400;
  margin-bottom: 5%;
}
.social-icon a {
  padding: 5px;
  border-radius: 20%;
  opacity: 0.85;
}

.social-icon a::before {
  content: "";
  border-radius: 50%;
  opacity: 0.9;
}

.social-icon a:hover::before {
  opacity: 0.9;
}

.social-icon a img {
max-width: 40px;
max-height: 40px;
}

.social-icon a:hover {
opacity: 1;
}

/* Resume */
.resume-bx {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume button {
  margin-bottom: 10%;
  color: white;
  background-color: rgb(99, 155, 118);
  border: 4px solid rgb(0, 70, 47);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.resume button a {
  color:white;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.resume button a:hover {
  color:rgb(0, 70, 41);
  margin-right: 25px;
}

@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}


@media screen and (max-width: 992px) {
  nav.navbar, body {
    flex-wrap: column wrap; 
  }
}

@media screen and (max-width: 768px) {
  nav.navbar, body {
      flex-wrap: column wrap;
  }
}

@media screen and (max-width: 576px) {
  nav.navbar, body {
      flex-wrap: column wrap; 
  }
}